.bg-white.rounded.p-8.lg:grid.lg:grid-cols-2
  .area{class: 'text-center'}
    = "#{selection.date_weekday}" 
    = "#{selection.date_month}/#{selection.date_number}"
  .bg-white.rounded.lg:flex.lg:flex-row.lg:justify-content.lg:items-centers.lg:ml-8.lg:content-center
    - if selection.volunteer.present?
      .text-center.grid.grid-cols-1.lg:flex
        .area.text-2xl.lg:text-xl
          = selection.volunteer.name
          %br.lg:hidden
          .hidden.lg:inline-block
            \|
        .area.lg:ml-4
          = selection.bringing
          .hidden.lg:inline-block
            \|
        .area.lg:ml-5
          = selection.special_note
    - else
      - if Date.today > event.end_date
        .text-center
          Volunteer time has passed
      - else

        = link_to 'Volunteer', volunteer_chesed_train_event_date_path(event, selection), class: 'mt-5 lg:mt-0 w-full block px-12 bg-primary-original border border-secondary text-white p-2 text-center rounded-xl hover:bg-blue-700 transition duration-200 cursor-pointer font-normal lg:h-[46px]'

