.container.p-10{ data: { controller: 'confetti' } }
  .flex.flex-col.items-center.w-full.lg:mt-4
    %div{ class: "text-secondary lg:text-3xl text-[2rem] font-lato font-[700] mb-5"}
      = @event.name
  .w-full.grid.lg:grid-cols-3.lg:gap-4.text-center.font-normal.text-secondary.text-1xl.text-2xl.mb-5.lg:mb-10
    .area
      Adults:
      = @event.adults
      Kids: 
      = @event.kids
    .area
      = @event.address1
      = @event.address2
      = @event.city
      = @event.state
      = @event.postal_code
      = @event.country
    .area
      = @event.preferred_time
  .w-full.grid.grid-cols-1.lg:grid-cols-5.lg:gap-48
    .flex.flex-col.bg-primary.border.border-primary.rounded-lg.lg:p-10.p-5.w-full.relative.col-span-3.mb-3
      %div{ class: "text-secondary lg:text-3xl font-lato font-[700] "} 
        Chesed Train Info:
      %div{ class: "text-secondary lg:text-2xl font-lato mb-5"} 
        = @event.special_message
      %div{ class: "text-secondary lg:text-3xl font-lato font-[700] "} 
        Preferences:
      %div{ class: "text-secondary lg:text-2xl font-lato mb-5"} 
        %ul.list-none
          %li
            = "Allergies: #{@event.allergies}" if @event.allergies?
          %li
            = "Dietary Restrictions: #{@event.dietary_restrictions}" if @event.dietary_restrictions?
          %li
            = "Favorite foods: #{@event.fav_rest}" if @event.fav_rest?
          %li
            = "Least favorite food: #{@event.least}" if @event.least?
          %li
            = "Shabbat Instructions: #{@event.shabbat_instructions}:" if @event.shabbat_instructions?
    .flex.flex-col.border.border-primary.rounded-lg.lg:p-10.p-5.w-full.relative.col-span-2
      %div{ class: "text-secondary lg:text-2xl font-lato font-[700] mb-5"} 
        Organizer:
        .font-normal.lg:mb-5
          = @event.owner.name
          <br>
          = @event.owner.email_address
        Recipient:
        .font-normal.lg:mb-5
          = @event.recipent_name
          <br>
          = @event.recipent_email
        Participants:
        .font-normal
          - if @event.volunteers.blank?
            None yet
          - else
            %ul.list-none
              - @event.volunteers.map(&:name).uniq.each do |name|
                %li
                  = name
        .mt-10.w-full{ data: { controller: 'copy notification' }}
          - if Date.today > @event.end_date
            Date for adding volunteers has passed
          - else
            = link_to 'Share', '', class: 'w-full block px-12 mt-5 bg-primary-original border border-secondary text-white p-2 text-center rounded-xl hover:bg-blue-700 transition duration-200 cursor-pointer font-normal', data: { action: 'click->copy#copyUrl click->notification#showNotification' }
          %div.hidden.fixed.top-0.right-0{role: "alert", class: "text-sm border-2 border-blue-500", data: { "notification-target": "notification"} }
            .text-white.px-4.py-2{ class: "bg-blue-500" }
              Information
            .px-4.py-3{class: "text-blue-700 bg-blue-100"}
              Successfully copied to your clipboard
  = render 'shared/giftcard'

  .flex.flex-col.items-center.w-full.relative.mt-5
    = link_to(image_tag(@ad.image), "https://#{@ad.link}", data: { controller: "link-click", action: "click->link-click#click", link_click_url_value: track_ad_path(@ad), link_click_redirect_value: @ad.link } ) if @ad
  .flex.flex-col.items-center.w-full.mt-5
    %div{ class: "text-secondary lg:text-3xl text-[1rem] font-lato font-[700] text-center"}
      Chesed Train Calendar
  .grid.grid-cols-1.gap-4.bg-primary.rounded.p-8.text-xl.mb-12.lg:justify-center{ data: { controller: 'yom-tov-toggle' } }
    - @event.event_dates.order(full_date: :asc).each do |selection|
      - if ['Friday', 'Saturday'].include?(selection.date_weekday)
        .bg-white.rounded.p-8.lg:grid.lg:grid-cols-2
          .area{ class: 'text-center' }
            = "#{selection.date_weekday}" 
            = "#{selection.date_month}/#{selection.date_number}"
          .area{ class: 'text-center' }
            .bg-white.rounded.lg:flex.lg:flex-row.lg:justify-content.lg:items-centers.lg:ml-8.lg:content-center
              = link_to 'Click to view Shabbat Information', '#',
                class: 'mt-5 lg:mt-0 w-full block px-12 bg-green-500 border text-white p-2 text-center rounded-xl hover:bg-green-700 transition duration-200 cursor-pointer font-normal lg:h-[46px]',
                data: { action: 'click->yom-tov-toggle#toggle' }

        .yom-tov-info.hidden{ data: { yom_tov_toggle_target: 'info' } }
          = render partial: 'yom_tovs/yom_tov', locals: { event_date: selection }
      - else
        = render partial: 'day', locals: {event: @event, selection: selection}
    .flex.flex-col.items-center.w-full.relative.mt-5
    = link_to(image_tag(@ad2.image), "https://#{@ad2.link}", data: { controller: "link-click", action: "click->link-click#click", link_click_url_value: track_ad_path(@ad2), link_click_redirect_value: @ad2.link } ) if @ad2

