%p
  Dear #{@owner.first_name},

%p
  A volunteer has signed up for a task on your Chesed Train! Here are the details:

%ul
  %li
    Volunteer Name: #{ @task.volunteer.name}
  %li
    Task: #{ @task.bringing }
  %li
    - if @event.type == 'ChesedTrain'
      Date: #{@task.date_weekday} #{ @task.date_month }/#{ @task.date_number }
%p
  This effort is truly coming together in the spirit of chesed.
