%tr
  %td{:style => "padding: 20px 30px; color: rgb(229, 231, 235); background-color: rgba(63, 114, 175, 0.2); font-size: 16px; line-height: 1.5;color:black;"}
    %p
      Dear #{@owner.first_name},

    - if @event.type == 'ChesedTrain'
      %p
        A volunteer has removed himself from the Chesed Train

      %ul
        %li
          Volunteer Name: #{ @task.volunteer.name}
        %li
          Task: #{ @task.bringing }
        %li
          Date: #{ @date }
      %p
        This effort is truly coming together in the spirit of chesed.
    - else
      %p
        A volunteer has removed himself from the Potluck
      %ul
        %li
          Volunteer Name: #{ @task.volunteer.name}
        %li
          Task: #{ @task.bringing }
        %li
          Date: #{@task.potluck_date.strftime('%A %b %d')}
