%tr
  %td{:style => "padding: 20px 30px; color: rgb(229, 231, 235); background-color: rgba(63, 114, 175, 0.2); font-size: 16px; line-height: 1.5;color:black;"}
    %p
      Dear #{@owner.first_name},

    - if @event.type == 'ChesedTrain'
      %p
        A volunteer has updated what they are bringing for your Chesed Train! Here are the details:

      %ul
        %li
          Volunteer Name: #{ @task.volunteer.name}
        %li
          Task: #{ @task.bringing }
        %li
          Date:
          = [ @task.try(:event_date)&.date_weekday, @task.try(:event_date)&.date_month,  @task.try(:event_date)&.date_number, @task.try(:date_weekday), @task.try(:date_month),  @task.try(:date_number)].compact.join(" ")      
      %p
        This effort is truly coming together in the spirit of chesed.
    - else
      %p
        A volunteer has updated what they are bringing for your Potluck! Here are the details:
      %ul
        %li
          Volunteer Name: #{ @task.volunteer.name}
        %li
          Task: #{ @task.bringing }
        %li
          Date: #{@task.potluck_date.strftime('%A %b %d')}
      %p
        This effort is truly coming together in the spirit of chesed.
