.container.p-10
  .flex.flex-col.bg-primary.items-center.justify-center.border.border-primary.rounded-lg.lg:p-10.p-5.w-full.relative
    = form_with(model: @event, class: 'space-y-4 lg:w-1/2 w-full mt-5', method: :patch) do |f|
      - if @event.errors.any?
        .form-group
          %div{:style => "color: red"}
            %h2
              = pluralize(@event.errors.count, "error")
              prohibited this event from being saved:
            %ul
              - @event.errors.each do |error|
                %li= error.full_message
      %div{ class: "text-secondary lg:text-[2rem] text-[1rem] font-lato font-[700] mb-5 text-center"} 
        Edit #{ @event.name}
      .form-group
        = f.label :name, "What should we call this potluck?", class: 'block text-sm font-bold text-secondary mb-1'
        = f.text_field :name, class: 'w-full px-3 py-2 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'
      
      .form-group
        = f.label :start_date, "What date is this potluck called for?", class: 'block text-sm font-bold text-secondary mb-1'
        = f.date_field :start_date, class: 'w-full px-3 py-2 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'
      
      .form-group
        = f.label :preferred_time, "What time is the potluck?", class: 'block text-sm font-bold text-secondary mb-1'
        = f.text_field :preferred_time, class: 'w-full px-3 py-2 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'
      %div{ class: "text-secondary text-[1.5rem] font-lato font-[700] mt-5 text-center"} 
        Location
      .form-group
        = f.label :address1, "Street Address", class: 'block lg:text-[1.1rem] text-[0.7rem] font-normal text-secondary mb-1'
        = f.text_field :address1, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'
      .form-group
        = f.label :address2, "Additional information", class: 'block lg:text-[1.1rem] text-[0.7rem] font-normal text-secondary mb-1'
        = f.text_field :address2, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'
      .flex.flex-col.lg:flex-row.lg:space-x-2
        %div{ class: "flex flex-col lg:w-1/2" }
          = f.label :city, "City", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
          = f.text_field :city, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', required: true
        %div{ class: "flex flex-col lg:w-1/2 mt-2 lg:mt-0" }
          = f.label :state, "State/Province", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
          = f.text_field :state, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', required: true
        %div{ class: "flex flex-col lg:w-1/2 mt-2 lg:mt-0" }
          = f.label :postal_code, "Zipcode/Postal Code", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
          = f.text_field :postal_code, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', required: true
      .flex.flex-col
        %div{ class: "flex flex-col mt-2 lg:mt-0 w-full" }
          = f.label :country, "Country", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
          = f.text_field :country, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', required: true
        Menu Options
      .flex.flex-row.justify-center.items-center
        %div.overflow-x-auto
          %table.text-2xl.rounded-lg.border-solid.min-w-full
            %tbody
              = f.fields_for :selections, @event.selections do |ff|
                %tr
                  %td.border.border-slate-300
                    = ff.text_field :name, placeholder: ff.object.name, class: 'border-none text-1xl text-neutral-400'
                  %td.border.border-slate-300
                    = ff.number_field :quantity, class: 'border-none text-1xl text-neutral-400'
                  %td.border.border-slate-300
                    = ff.text_field :special_note, class: 'border-none text-1xl text-neutral-400', placeholder: 'Notes'

      %div{ class: "text-secondary text-[1.5rem] font-lato font-[700] mt-5 text-center"} 
        Preferences
      .form-group
        = f.label :dietary_restrictions, "", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
        = f.text_field :dietary_restrictions, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'
      .form-group
        = f.label :allergies, "", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
        = f.text_field :allergies, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'
      .form-group
        = f.label :special_message, "", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
        = f.text_field :special_message, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'
      .mt-10.flex.justify-center.lg:space-x-2.space-y-5.items-center.lg:flex-row.flex-col
        = link_to "Back", user_path(current_user), class: ' mt-5 w-[11rem] bg-primary-original border border-secondary text-white lg:py-2 py-1 text-center rounded-xl hover:bg-blue-700 transition duration-200 cursor-pointer'

        = f.submit "Update", class: 'w-[11rem] bg-primary-original border border-secondary text-white lg:py-2 py-1 rounded-xl hover:bg-blue-700 transition duration-200 cursor-pointer'
