- if @step == 1
  .container.p-10
    .flex.flex-col.items-center.justify-center.border.border-primary.rounded-lg.p-10.w-full.relative
      %div{ class: "text-secondary lg:text-[2rem] text-[1rem] font-lato font-[700] mb-5"} Let's Start With The Basics

      = form_with(model: @event, class: 'space-y-4 lg:w-1/2 w-full mt-5') do |f|
        = hidden_field_tag :step_check, @step
        
        = render partial: "shared/field", locals: { field: 'name', model: @event, label: "What should we call this potluck?", f: f }
        
        .form-group
          = f.label :start_date, "What date is this potluck called for?", class: 'block text-sm font-bold text-secondary mb-1'
          = f.date_field :start_date, class: 'w-full px-3 py-2 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', required: true
        
        = render partial: "shared/field", locals: { field: 'preferred_time', model: @event, label: "What time is the potluck?", f: f }

        .mt-10.flex.justify-center
          = f.submit "Next", class: 'w-[11rem] button'
        
        %div{ class: "text-center text-secondary lg:flex hidden absolute left-[10%] bottom-12  font-bold"}
          Step 1 of 4 
- if @step == 2
  .container.p-10
    .flex.flex-col.bg-primary.items-center.justify-center.border.border-primary.rounded-lg.lg:p-10.p-5.w-full.relative
      %div{ class: "text-secondary lg:text-[2rem] text-[1rem] font-lato font-[700] mb-5"} Where Is The Potluck Taking Place?
      = render partial: '/shared/steps/address', locals: { event: @event, step: 2, url: update_step_potluck_path(@event, step: 2) }

- if @step == 3
  .container.p-2.md:p-10
    .flex.flex-col.items-center.justify-center.border.border-primary.rounded-lg.lg:p-10.p-5.w-full.relative
      %div{ class: "text-secondary lg:text-[2rem] text-[1rem] font-lato font-[700] mb-5"} Now Let's Talk About Food
      = form_with model: @event, url: update_step_potluck_path(@event, step: 3), method: :patch, class: '' do |f|
        = hidden_field_tag :step_check, @step
        %div.overflow-x-auto
          %table.text-2xl.rounded-lg.border-solid.min-w-full
            %tbody
              = f.fields_for :selections, @event.selections do |ff|
                %tr
                  %td.border.border-slate-300.px-4.py-2
                    = ff.text_field :name, placeholder: ff.object.name, class: 'border-none text-xs lg:text-2xl text-neutral-400 w-full'
                  %td.border.border-slate-300.px-4.py-2
                    = ff.number_field :quantity, class: 'border-none text-xs lg:text-2xl text-neutral-400 w-full'
                  %td.border.border-slate-300.px-4.py-2
                    = ff.text_field :special_note, class: 'border-none text-xs lg:text-2xl text-neutral-400 w-full', placeholder: 'Notes'
        
        .mt-10.flex.justify-center.lg:space-x-2.space-y-5.items-center.flex-col-reverse.lg:flex-row
          = link_to "Back", steps_potluck_path(@event, step: 2), class: 'mt-5 w-[11rem] button text-center'
          = f.submit "Next", class: 'w-[11rem] button'
        %div{ class: "text-center text-secondary lg:flex hidden absolute left-[10%] bottom-12  font-bold"}
          Step 3 of 4 
        %div{ class: "text-center text-secondary lg:hidden font-bold pt-10"}
          Step 3 of 4

- if @step == 4
  .container.p-10
    .flex.flex-col.bg-primary.items-center.justify-center.border.border-primary.rounded-lg.lg:p-10.p-5.w-full.relative
      %div{ class: "text-secondary lg:text-[2rem] text-[1rem] font-lato font-[700] mb-5"} 
        Potluck Preferences
      = form_with model: @event, url: update_step_potluck_path(@event, step: 4), method: :patch, class: 'lg:space-y-4 space-y-2 lg:w-1/2 w-full' do |f|
        = hidden_field_tag :step_check, @step
        = render partial: "shared/field", locals: { field: 'dietary_restrictions', model: @event, label: "Dietary Restrictions", is_needed: 'no', f: f }
        = render partial: "shared/field", locals: { field: 'allergies', model: @event, label: "Allergies", is_needed: 'no', f: f }
        = render partial: "shared/field", locals: { field: 'special_message', model: @event, label: "Special Message", is_needed: 'no',  f: f }
        .mt-10.flex.justify-center.lg:space-x-2.space-y-5.items-center.flex-col-reverse.lg:flex-row
          = link_to "Back", steps_potluck_path(@event, step: 3), class: 'mt-5 w-[11rem] button text-center'
          = f.submit "Next", class: 'w-[11rem] button'

        %div{ class: "text-center text-secondary lg:flex hidden absolute left-[10%] bottom-12  font-bold"}
          Step 4 of 4 
        %div{ class: "text-center text-secondary lg:hidden font-bold pt-10"}
          Step 4 of 4

- if @step == 5  || @step == 6
  .container.p-10
    .flex.flex-col.items-center.justify-center.border.border-primary.rounded-lg.lg:p-10.p-5.w-full.relative
      = render partial: 'shared/steps/user', locals: { user: current_user, url: update_step_potluck_path(@event, step: 6), method: :post }
