- flash.each do |key, message|
  - outcome = flash_class(key)
  %div.fixed.top-0.right-0{role: "alert", class: "bg-#{outcome}-500 opacity-0 border-2 border-#{outcome}-600 transition-opacity duration-1000 ease-in-out", data: { controller:'fade', 'fade-target': 'content'} }
    .text-white.font-bold.px-4.py-2
      Information
    .px-4.py-3{class: "text-#{outcome}-700 bg-#{outcome}-100"}
      = message
