= form_with model: event, url: url, method: :patch, class: 'lg:space-y-4 space-y-2 lg:w-1/2 w-full' do |f|
  - if event.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(event.errors.count, "error")
        prohibited this chesed_train from being saved:
      %ul
        - event.errors.each do |error|
          %li= error.full_message
  .form-group
    = f.label :address1, "Address", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
    = f.text_field :address1, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', required: true

  .form-group
    = f.label :address2, "Address continued", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
    = f.text_field :address2, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'
  .flex.flex-col.lg:flex-row.lg:space-x-2
    %div{ class: "flex flex-col lg:w-1/2" }
      = f.label :city, "City", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
      = f.text_field :city, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', required: true
    %div{ class: "flex flex-col lg:w-1/2 mt-2 lg:mt-0" }
      = f.label :state, "State", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
      = f.text_field :state, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', required: true
    %div{ class: "flex flex-col lg:w-1/2 mt-2 lg:mt-0" }
      = f.label :postal_code, "Zipcode/Postal Code", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
      = f.text_field :postal_code, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', required: true
  .flex.flex-col
    %div{ class: "flex flex-col mt-2 lg:mt-0 w-full" }
      = f.label :country, "Country", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
      = f.text_field :country, class: 'bg-transparent w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', required: true
  .mt-10.flex.justify-center.lg:space-x-2.space-y-5.items-center.lg:flex-row.flex-col
    - if @event.type == 'Potluck'
      = link_to "Back", steps_potluck_path(event, step: 1), class: 'mt-5 w-[11rem] bg-primary-original border border-secondary text-white lg:py-2 py-1 text-center rounded-xl hover:bg-blue-700 transition duration-200 cursor-pointer'
    - else
      = link_to "Back", steps_chesed_train_path(event, step: 1), class: 'mt-5 w-[11rem] bg-primary-original border border-secondary text-white lg:py-2 py-1 text-center rounded-xl hover:bg-blue-700 transition duration-200 cursor-pointer'

    = f.submit "Next", class: 'w-[11rem] bg-primary-original border border-secondary text-white lg:py-2 py-1 text-center rounded-xl hover:bg-blue-700 transition duration-200 cursor-pointer'

  %div{ class: "text-center text-secondary lg:flex hidden absolute left-[10%] bottom-12  font-normal"}
    Step #{step} of 4 
  %div{ class: "text-center text-secondary lg:hidden font-normal pt-10"}
    Step #{step} of 4
