= form_with model: user, url: url, class: 'space-y-4 lg:w-1/2 w-full mt-5', method: method, data: { controller: "form-submit" } do |f|
  = hidden_field_tag :step_check, value: 6
  .grid.grid-cols-1.gap-4.md:grid-cols-2.md:gap-4
    .area
      = f.label :first_name, "First Name", class: 'w-full-label'
      = f.text_field :first_name, class: 'w-full px-3 py-2 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', value: current_user&.guest? ? nil : f.object.first_name, required: true
      - if user.errors[:first_name].any?
        .text-danger
          = user.errors[:first_name].join(", ").upcase
    .area
      = f.label :last_name, "Last Name", class: 'block text-sm font-bold text-secondary mb-1'
      = f.text_field :last_name, class: 'w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl fpocus:outline-none focus:ring-2 focus:ring-blue-500', value: current_user&.guest? ? nil : f.object.last_name, required: true
      - if user.errors[:last_name].any?
        .text-danger
          = user.errors[:last_name].join(", ").upcase
    .area
      = f.label :password, "Password", class: 'block text-sm font-bold text-secondary mb-1'
      = f.password_field :password, class: 'w-full px-3 py-2 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', required: true
      - if user.errors[:password].any?
        .text-danger
          = user.errors[:password].join(", ").upcase
    .area
      = f.label :password_confirmation, "Password Confirmation", class: 'block text-sm font-bold text-secondary mb-1'
      = f.password_field :password_confirmation, class: 'w-full px-3 py-2 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', required: true
      - if user.errors[:password_confirmation].any?
        .text-danger
          = user.errors[:password_confirmation].join(", ").upcase

  
  .form-group
    = f.label :email_address, "Email Address", class: 'block text-sm font-bold text-secondary mb-1'
    = f.text_field :email_address, class: 'w-full px-3 py-2 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', value: current_user&.guest? ? nil : f.object.email_address
    - if user.errors[:email_address].any?
      .text-danger
        = user.errors[:email_address].join(", ").upcase
  .form-group{data: { controller: 'phone'} }
    = f.label :phone_number, "Phone Number", class: 'block text-sm font-bold text-secondary mb-1'
    = f.text_field :phone_number, class: 'w-full px-3 py-2 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500', minlength: 17, maxlength: 17, data: { phone_target: "input", action: "input->phone#restrictInput input->phone#format" }, value: current_user&.guest? ? nil : f.object.phone_number, required: true

  %div{ class: "form-group lg:flex lg:flex-col justify-center items-center" }
    .w-100
      %div{ class: "flex flex-row items-center space-x-2 mt-5" }
        = f.check_box :updates, class: ' lg:px-3 px-2 lg:py-3 py-2 border border-secondary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-original checked:bg-primary-original', checked: true
        = f.label :updates, "Send me Chesed Train news and updates", class: 'block text-sm font-bold text-secondary mb-1'
      %div{ class: "flex flex-row items-center space-x-2 mt-5" }
        = f.check_box :tos, class: ' lg:px-3 px-2 lg:py-3 py-2 border border-secondary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-original checked:bg-primary-original', data: { action: "form-submit#toggleButton", form_submit_target: "checkbox" }, checked: true
        = f.label :tos, "I agree to the Terms of Service", class: 'block text-sm font-bold text-secondary mb-1'
      %div{ class: "flex flex-row items-center space-x-2 mt-5" }
        = f.check_box :sms, class: ' lg:px-3 px-2 lg:py-3 py-2 border border-secondary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-original checked:bg-primary-original'
        = f.label :sms, "Sign me up for SMS updates about the Chesed Train", class: 'block text-sm font-bold text-secondary mb-1'
      %p{class: 'text-[11px] ml-2 mt-2'}
        By opting in, you agree to receive recurring automated promotional and personalized text messages (from Chesed Train Inc) at the mobile number provided. <b>Consent is not a condition of sign up.</b> Msg &amp; data rates may apply. Reply STOP to unsubscribe. You do not have to agree to create an account
  .flex.justify-center.py-4
    = f.submit "Create Account", class: 'w-[11rem] bg-primary-original border border-secondary text-white lg:py-2 py-1 text-center rounded-xl hover:bg-blue-700 transition duration-200 cursor-not-allowed opacity-50', data: { form_submit_target: "submit" }, disabled: true


