%p
  Dear #{@volunteer.first_name},

%p
  This is a reminder about your upcoming Chesed Train task:

%p
  Task: #{@event.bringing}
%p

%p
  Date and Time: #{@event.full_date.strftime("%A %m/%d")} at #{@event_type.preferred_time}
%p
  Organizer Contact: #{@event_type.owner.name} #{ @event_type.owner.phone_number}
%p
  Your effort helps make a real difference in someone’s life. Thank you for your dedication to chesed!
