%p
  Dear #{@volunteer.first_name},

%p
  This is a reminder about your upcoming Chesed Train task:

%p
  Task: #{@event.bringing}
%p

- if @type == 'chesed_train'
  %p
    Date and Time: #{@event.full_date.strftime("%A %m/%d")} at #{@time}
  %p
    Organizer Contact: #{@event.chesed_train.owner.name} #{ @event.chesed_train.owner.phone_number }
  %p
    Your effort helps make a real difference in someone’s life. Thank you for your dedication to chesed!
- else
  %p
    Date and Time: #{@event.potluck.start_date.strftime("%A %m/%d")} at #{@time}
  %p
    Organizer Contact: #{@event.potluck.owner.name} #{ @event.potluck.owner.phone_number }
  %p
    Your effort helps make a real difference in someone’s life. Thank you for your dedication to chesed!
