%p{:style => "color: green"}= notice
= render @admin_ad
%div
  = link_to "Edit this ad", edit_admin_ad_path(@admin_ad)
  |
  \#{link_to "Back to ads", admin_ads_path}
  
  \#{button_to "Destroy this ad", @admin_ad, method: :delete}
