.container.p-10.flex.flex-col.justify-center
  .flex.flex-col.items-center.justify-center.border.border-primary.rounded-lg.lg:p-10.p-5.w-full
    %div{ class: "text-secondary lg:text-[2rem] text-[1rem] font-lato font-[700] mb-5"} 
      Create Your Account

    = form_with model: user, url: user_url, method: type, class: 'lg:space-y-4 space-y-2 lg:w-1/2 w-full' do |f|
      .flex.flex-row.space-x-2
        %div{ class: "form-group w-1/2" }
          = f.label :first_name, "First Name", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
          = f.text_field :first_name, class: 'w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'

        %div{ class: "form-group w-1/2" }
          = f.label :last_name, "Last Name", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
          = f.text_field :last_name, class: 'w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'

      .form-group
        = f.label :email_address, "Email Address", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
        = f.text_field :email_address, class: 'w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'

      .form-group
        = f.label :password_confirmation, "Verify Email Address", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
        = f.text_field :password_confirmation, class: 'w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'

      .form-group
        = f.label :phone_number, "Phone Number", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
        = f.text_field :phone_number, class: 'w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'

      %div{ class: "form-group lg:flex lg:flex-col space-y-2 lg:ml-[12.5%] ml-0" }
        %div{ class: "flex flex-row items-center space-x-2" }
          = f.check_box :updates, class: ' lg:px-3 px-2 lg:py-3 py-2 border border-secondary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-original checked:bg-primary-original', checked: true
          = f.label :updates, "Send me Chesed Train news and updates", class: 'block lg:text-[0.9rem] text-[0.6rem] font-bold text-secondary'
        %div{ class: "flex flex-row items-center space-x-2" }
          = f.check_box :tos, class: ' lg:px-3 px-2 lg:py-3 py-2 border border-secondary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-original checked:bg-primary-original'
          = f.label :tos, "I agree to the Terms of Service and Privacy Policy", class: 'block lg:text-[0.9rem] text-[0.6rem] font-bold text-secondary'
        %div{ class: "flex flex-row items-center space-x-2" }
          = f.check_box :sms, class: ' lg:px-3 px-2 lg:py-3 py-2 border border-secondary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-original checked:bg-primary-original'
          = f.label :sms, "Send me SMS updated and news", class: 'block lg:text-[0.9rem] text-[0.6rem] font-bold text-secondary'
      .mt-20.flex.justify-center
        = f.submit "Create Account", class: 'w-[11rem] bg-primary-original border border-secondary text-white lg:py-2 py-1 lg:px-4 px-2 rounded-xl transition duration-200 cursor-pointer lg:text-[1rem] text-[0.7rem]'
