%tbody.divide-y.divide-gray-200
  %tr.hover:bg-gray-100
    %td.px-6.py-4.whitespace-nowrap.text-sm.font-medium.text-gray-800 
      = user.name
    %td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-800 
      = user.email_address
    %td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-800 
      - if user.is_admin?
        Admin
      - else
        = user.is_paying? ? 'Paying' : 'Basic'
    %td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-800 
      = link_to 'View', admin_user_path(user), class: 'hover:text-secondary'
      - if user.is_admin?
      - else
        = link_to "Delete", admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'text-red-500'

