!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= 'Administration - Chesed Train'
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    = favicon_link_tag asset_path('favicon-16x16.png')
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload", rel: "stylesheet"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module" 
  %body{style: 'background-color:white'}
    = render 'shared/alert'
    .flex
    .flex.flex-col
      = render "shared/header"
      .flex-grow.flex.items-center.justify-center.font-lato
        .p-2.secondary.w-full
          = link_to 'Users', admin_users_path, class: 'link-to'
          = link_to 'Chesed Trains', admin_chesed_trains_path, class: 'link-to'
          = link_to 'Potlucks', admin_potlucks_path, class: 'link-to'
          %span.text-white
            \|
            = render_breadcrumbs :separator => ' | '
      .flex-grow.flex.items-center.justify-center.font-lato
        = yield
      = render "shared/footer"
