!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= 'Chesed Train'
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    -# %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    -# %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    -# %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload", rel: "stylesheet"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module" 
  %body{style: 'background-color:white'}
    = render 'shared/alert'
    .flex.flex-col
      = render "shared/header"
      .flex-grow.flex.items-center.justify-center.font-lato
        = yield
      = render "shared/footer"
